body {
  height: 100%;
  background-color: #242424;
	background-image: url(http://image.noelshack.com/fichiers/2018/45/3/1541599465-palogo.png);
	background-repeat: no-repeat;
	background-position: center top;
	background-size: contain; 
}

@media (min-width: 768px) {
  body {
   background-size: 768px; 
  }
}

.menu {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 0;
  padding: 0;
  list-style-type: none;
}

.menu li {
  flex-grow: 1;
  flex-basis: 25%;
}

.menu a{
  display: block;
  padding: 8px;
  background-color: rgba(255, 255, 255, 0.5);
  color: #242424; 
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color 0.5s;
}

.menu a:hover, 
.menu a:focus{
	background-color: rgba(255, 255, 255, 0.7);
}


div#imagePA {
	margin-top: 30%;
	margin-bottom: 0px;
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
}

div#ligne1 {
	width: 100%;
	background: #424242;
	margin-bottom: 0px;
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
}

div#paragraphe1 {
  color: white;
  font-size: 12px;
  font-family: verdana;
  text-align: justify;
  padding-top:10px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;

}

div#ligne2 {
	width: 100%;
	margin-bottom:10px;
    max-width: 800px;
  margin-right: auto;
  margin-left: auto;
}
div#paragraphe2 {
  color: white;
  font-size: 12px;
  font-family: verdana;
  text-align: justify;

  padding-top:10px;
  padding-bottom: 10px;
    max-width: 800px;
  margin-right: auto;
  margin-left: auto;
}

div#image3 {
  max-width: 800px;
  margin-top: 1em;
  margin-bottom: 10px;
  margin-right: auto;
  margin-left: auto;
}

div#ligne1bio {
	width: 100%;
	background: #424242;
	margin-bottom: 0px;
  max-width: 800px;
  margin-top: 30%;
  margin-right: auto;
  margin-left: auto;
}

div#paragraphe1bio {
  color: white;
  font-size: 12px;
  font-family: verdana;
  text-align: justify;
  padding-top:10px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;

}



/*FOOOTER*/

.footer-distributed{
	background-color: #424242;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 13px sans-serif;

	padding: 30px 30px 30px 30px;
	margin-top: 10px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 36%;
}

/* Footer links */

.footer-links2 {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  color: #fff;
}

.footer-links2 li:first-child {
  list-style: none;
}

.footer-links2 li + li {
  margin-left: 0.5em;
  list-style: inside;
}

.footer-links2 a {
  color: inherit;
  text-decoration: none;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 40%;
}

.footer-distributed .footer-center i{
	background-color:  #424242;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 25px 25px;
	vertical-align: middle;
}


.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #424242;
	text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

  .footer-links2 {
    justify-content: center;
  } 
	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}
